@media only screen and (max-width: 1200px) {
  article {
    width: 80%;
  }
}

@media only screen and (max-width: 1000px) {
  article {
    width: 90%;
  }
}

@media only screen and (max-width: 800px) {
  article {
    width: 100%;
  }
}

@media only screen and (max-width: 720px) {
  article {
    grid-auto-flow: row;
    gap: 40px;
    min-height: 400px;
  }
  form {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 350px) {
  form {
    width: 250px;
  }
}
